* {
    padding: 0;
    margin: 0;
}

.directions-page {
    background: url(../imgs/directions-background.jpg) no-repeat center center fixed;
    -webkit-backgroundsize: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.directions-div {
    grid-area: center;
    border:3px solid white;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr;
    grid-template-areas: 
    "content content"
    "map map";
}
.text-content {
    color: white;
    text-align: center;
    font-family: 'Mallanna';
    display: grid;
    grid-area: content;
    grid-template: 1fr 1fr;
    grid-template-areas: "location hours";
    border-bottom: 3px solid white;
}
.text-address {
    grid-area: location;
    padding: 10px;
}
.text-hours {
    grid-area: hours;
    padding: 10px;

}