* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Mallanna";
    src: url(../fonts/Mallanna\ Regular.ttf);
}
@font-face {
    font-family: "Krona";
    src: url(../fonts/Krona\ One\ Regular.ttf);
}

.navbar {
    display: grid;
    grid-template: 100px / 300px 1fr 1fr 1fr;
    grid-template-areas: "left right right none";
    background-color: #a77e58;
    box-shadow: 0px 3px 5px black;
}
.navbar >.left-side {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Krona";
    padding-left: 15px;
    color: #2b2118;
}
.left-side > .titleslogan {
    margin-top: -5px;
    font-size: small;
}
.navbar > .right-side {
    grid-area: right;
    display: grid;
    grid-column: repeat(3, 1fr);
    grid-template-areas: "menu directions about";
    font-family: "Krona";
    font-size: 8pt;
    color: #2b2118;
}
.left-side > #logo {
    width: 120px;
}

.right-side > .menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side > .directions {
    grid-area: directions;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side > .about {
    grid-area: about;
    display: flex;
    justify-content: center;
    align-items: center;
}