* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: grid;
    grid-template: 100px / 300px 1fr 1fr 300px;
    grid-template-areas: "left right right none";
    background-color: #a77e58;
    box-shadow: 0px 3px 5px black;
}
.navbar >.left-side {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Krona";
    padding-left: 15px;
    color: white;
}
.left-side > .titleslogan {
    margin-top: -15px;
    font-size: 18pt;
    font-family: "Mallanna";
}
.navbar > .right-side {
    grid-area: right;
    display: grid;
    grid-column: repeat(3, 1fr);
    grid-template-areas: "menu directions about";
    font-family: "Mallanna";
    font-size: 9pt;
    color: white;
}

.right-side > .menu:hover, .right-side > .directions:hover, .right-side > .about:hover {
    
    text-decoration: underline;
}
.right-side > .menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right-side > .directions {
    grid-area: directions;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right-side > .about {
    grid-area: about;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}