* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: grid;
    grid-template: 100px / 300px 1fr 1fr 300px;
    grid-template-areas: "left right right none";
    background-color: #a77e58;
    box-shadow: 0px 3px 5px black;
}
.navbar >.left-side {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Krona";
    padding-left: 15px;
    color: white;
}
.left-side > .titleslogan {
    margin-top: -15px;
    font-size: 18pt;
    font-family: "Mallanna";
}
.navbar > .right-side {
    grid-area: right;
    display: grid;
    grid-column: repeat(3, 1fr);
    grid-template-areas: "menu directions about";
    font-family: "Mallanna";
    font-size: 9pt;
    color: white;
}
/* Hover underline effect */
.right-side > .menu > h1, .right-side > .directions > h1, .right-side > .about > h1 {
    position: relative;
    text-decoration: none;
    color: white;
}
.right-side > .menu > h1:hover, .right-side > .directions > h1:hover, .right-side > .about > h1:hover {
    color: white;
}
.right-side > .menu > h1::before, .right-side > .directions > h1::before, .right-side > .about > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: white;
    transform: scale(0);
    transition: transform 0.3s ease;
}
.right-side > .menu > h1:hover::before, .right-side > .directions > h1:hover::before, .right-side > .about > h1:hover::before {
    transform: scale(1);
}
/* End of effect. */

/* Nav elem positioning. */
.right-side > .menu {
    grid-area: menu;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right-side > .directions {
    grid-area: directions;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right-side > .about {
    grid-area: about;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}