/* Browser reset and wire frame. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
/* Color paller for the site. */
:root {
    --off-white: #f7f3e3;
    --brown-red: #6f1a07;
    --grey-black: #2b2118;
    --light-brown: #a77e58;
    --teal-green: #2f9c95;
}

body {
    background-color: black;
}

@font-face {
    font-family: "Mallanna";
    src: url(./fonts/Mallanna\ Regular.ttf);
}
@font-face {
    font-family: "Krona";
    src: url(./fonts/Krona\ One\ Regular.ttf);
}

#container {
    display: grid;
    grid-template: 100px 4fr 1fr / 1fr 4fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "left center right"
    "left bottom right";
    height: 100vh ;
}
#container > .navbar {
    grid-area: nav;
}
#container > .mainpage {
    grid-area: center;
}

