/* Browser reset and wire frame. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

html {
    background: url(./imgs/carbhouse-background.jpg) no-repeat center center fixed;
    -webkit-backgroundsize: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    background-color: #f7f3e3;
}